.vBox {
    -fx-padding: 8px;
    -fx-spacing: 0px;
    -fx-alignment: TOP_LEFT;
    -fx-background-color: #070742;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 0px;
    -fx-font-size: 13px;
}

.customerHBox, .paymentInformationHBox, .datePickerHBox, .fileBrowserHBox, .generateInvoiceHBox, .logoHBox, .invoiceDateHbox {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: TOP_LEFT;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: transparent #070742 transparent #070742;
    -fx-border-width: 2px;
}

.logoHBox {
    -fx-border-color: #070742 #070742 transparent #070742;
}

.generateInvoiceHBox {
    -fx-border-color: transparent #070742 #070742 #070742;
}

.logoHBox {
    -fx-alignment: TOP_CENTER;
}

.customerLabel {
    -fx-alignment: BASELINE_LEFT;
    -fx-pref-width: 100px;
    -fx-padding: 8px 0px 0px 0px;
}

.customerComboBox {
    -fx-alignment: BASELINE_CENTER;
    -fx-pref-width: 200px;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: transparent transparent #9e9e9e transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
}

.customerButton {
    -fx-alignment: BASELINE_CENTER;
    -fx-pref-width: 150px;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: #9e9e9e #9e9e9e #9e9e9e #9e9e9e;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
}

.startDatePicker {
    -fx-alignment: BASELINE_LEFT;
    -fx-pref-width: 200px;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: #9e9e9e #9e9e9e #9e9e9e #9e9e9e;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
}

.dateLabel {
    -fx-alignment: BASELINE_CENTER;
    -fx-pref-width: 70px;
    -fx-padding: 8px 0px 0px 0px;
}

.endDatePicker {
    -fx-alignment: BASELINE_RIGHT;
    -fx-pref-width: 200px;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: #9e9e9e #9e9e9e #9e9e9e #9e9e9e;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
}

.paymentLabel {
    -fx-alignment: BASELINE_LEFT;
    -fx-min-width: 300px;
    -fx-padding: 8px 0px 0px 0px;
}

.paymentTextField {
    -fx-alignment: BASELINE_RIGHT;
    -fx-max-width: 150px;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: transparent transparent #9e9e9e transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
}

.fileBrowserLabel {
    -fx-alignment: BASELINE_LEFT;
    -fx-pref-width: 400px;
    -fx-padding: 8px 0px 0px 0px;
}

.fileBrowserButton {
    -fx-alignment: BASELINE_CENTER;
    -fx-pref-width: 80px;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: #9e9e9e #9e9e9e #9e9e9e #9e9e9e;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
}

.generateInvoiceHBox {
    -fx-alignment: BASELINE_CENTER;
}
.generateInvoiceButton {
    -fx-alignment: BASELINE_CENTER;
    -fx-pref-width: 150px;
    -fx-background-color: #070742;
    -fx-text-fill: white;
    -fx-font-weight: BOLD;
    -fx-font-size: 15px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
}

.invoiceDateLabel {
    -fx-alignment: BASELINE_LEFT;
    -fx-pref-width: 130px;
    -fx-padding: 8px 0px 0px 0px;
}

.invoiceDatePicker {
    -fx-alignment: BASELINE_RIGHT;
    -fx-pref-width: 370px;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: #9e9e9e #9e9e9e #9e9e9e #9e9e9e;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-padding: 0;
}